

<section id="intro">
<div class="hero-logo">
<img src="https://rxjs.dev/generated/images/marketing/home/Rx_Logo-512-512.png" alt="RxJS logo" width="512" height="512">
</div>

<div class="homepage-container">
<div class="headline-container">
  <h2 class="hero-headline no-toc" id="rxjs">"RxJs"</h2>
  <span class="hero-subheadline"> &nbsp; &nbsp; &nbsp;&nbsp; &nbsp;  &nbsp;
     Reactive Extensions Library for JavaScript </span>
</div>
<a class="button hero-cta" href="#">DOCS</a>
<br>
<p style="text-align: justify;">RxJS is a library for reactive programming using Observables,
   to make it easier to compose asynchronous or callback-based code. 
   This project is a rewrite of Reactive-Extensions/RxJS with better performance,
    better modularity, better debuggable call stacks, while staying mostly backwards compatible,
     with some breaking changes that reduce the API surface.</p>
</div>

</section>
