<div class="row">
<div class="col-md-12">
  <ul class="list">
    <li>
      <a routerLink="from-event">From-Event</a>
    </li>
    <li>
      <a routerLink="interval">Interval & Timer</a>
    </li>
    <li>
      <a routerLink="ofFrom">Of & From</a>
    </li>
    <li>
      <a routerLink="to-array">To - Array</a>
    </li>
    <li>
      <a routerLink="custom">Custom Observable</a>
    </li>
    <li>
      <a routerLink="map">Map</a>
    </li>
    <li>
      <a routerLink="pluck">Pluck</a>
    </li>
    <li>
      <a routerLink="filter">Filter</a>
    </li>
    <li>
      <a routerLink="tap">Tap</a>
    </li>
    <li>
      <a routerLink="take">Take , TakeLast , TakeUnti</a>
    </li>
    <li>
      <a routerLink="retry">Retry , RetryWhen , <br> Scan & Delay</a>
    </li>
    <li>
      <a routerLink="debouncetime">Debounce Time & <br> DistinctUntilChanged</a>
    </li>
    <li>
      <a routerLink="subject">   Subject &<br>Behaviour Subject</a>
    </li>
    <li>
      <a routerLink="replay-subject">Replay Subject</a>
    </li>
    <li>
      <a routerLink="async-subject">Async Subject</a>
    </li>
    <li>
      <a routerLink="concat">Concat</a>
    </li>
    <li>
      <a routerLink="merge">Merge</a>
    </li>
    <li>
      <a routerLink="mergemap">Merge-map</a>
    </li>
    <li>
      <a routerLink="concatmap">Concat-map</a>
    </li>
    <li>
      <a routerLink="switchmap">Switch-map</a>
    </li>
    <li>
      <a routerLink="MmCmSmap">MergeMap vs ConcatMap  <br><br> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; vs SwitchMap</a>
    </li>
    <!-- 
    <li>
      <a routerLink="exhaustmap">ExhaustMap</a>
    </li>
    <li>
      <a routerLink="sharereplay">ShareReplay</a>
    </li>
    <li>
      <a routerLink="combine-latest">Combine Latest</a>
    </li>
    <li>
      <a routerLink="zip">Zip</a>
    </li>
    <li>
      <a routerLink="errorCT">Catch Error</a>
    </li>
     -->
  </ul>
</div>
</div>