<div class="my-3">
  <h2>Merge-map</h2>
  <br>
  <div class="row">

    <div class="col-md-4">
      <strong> Exp 1  | Map </strong>
      <hr>
      <p class="bg-light py-2 px-3 border rounded">
        <strong>Videos : </strong> ['Tech', 'Coding' , 'News' , 'Comedy' ]
      </p>
      <hr>
      <ul id="elemContainer">
      </ul>
    </div>

    <div class="col-md-4">
      <strong> Exp 02  | Map + MergeAll </strong>
      <hr>
      <p class="bg-light py-2 px-3 border rounded">
        <strong>Videos : </strong> ['Tech', 'Coding' , 'News' , 'Comedy' ]
      </p>
      <hr>
      <ul id="elemContainer2">
      </ul>
    </div>

    <div class="col-md-4">
      <strong> Exp 03  | Merge-Map </strong>
      <hr>
      <p class="bg-light py-2 px-3 border rounded">
        <strong>Videos : </strong> ['Tech', 'Coding' , 'News' , 'Comedy' ]
      </p>
      <hr>
      <ul id="elemContainer3">
      </ul>
    </div>

  </div>
</div>