<nav  class="navbar ">
  <h4 ><a class="nav-link-home d-flex flex-row-reverse" routerLink="homepage">  &nbsp; Rxjs - Observables and promises
    <img src="https://rxjs.dev/generated/images/marketing/home/Rx_Logo-512-512.png" width="37" height="40" alt="Home" class="ng-star-inserted">
  </a></h4>

  <strong class="badge bg-primary" *ngIf="exclusive">Exclusive</strong>
  <ul>
    <li><a class="promises-tex" routerLink="promise" style="font-size: 18.6px;" >Promises</a></li>
    <li><a routerLink="observable" style="color: black; font-size: 19px;">Observables</a></li> 
    <li><a href="https://github.com/RajatSinghrs/RxJs" title="Github">
      <img src="assets\logos\github-mark-white.png" width="29" height="28" alt="View on Github">
    </a></li> 
  </ul>
</nav>