.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #e9226bf5;;
}
.navbar h4 a{
  color: white;
  text-decoration: none;
  font-style: oblique;
  padding-left: 16px;
  margin-top: 17px;
}
.navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}
.navbar h4 a {
  text-decoration: none;
}
.navbar li {
  margin-left: 10px;
  margin-right: 13px;
}
.navbar li a {
  text-decoration: none;
  color: rgb(88, 85, 85); 
  font-weight: normal; 
}
.badge
{
  margin-right:675px;
}
.nav-link-home{
  padding-right: 500px;
}
.side-nav{
  
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  cursor: pointer;
 
}
.side-nav:hover{
    background-color: rgba(94, 6, 53, 0.363);
    border-radius: 10%;
}
.navbar .side-nav{
  margin-left: 28px;
}
